body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  max-width: 70%;
  margin: auto;
  background-color: #0c0b1d;
  color: #ebebeb;
  border-radius: 8px;
  border: 8px solid #0c0b1d;
}

.cell {
  display: inline-block;
  width: 10%;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.selected {
  border-color: #7a408a;
}

button {
  cursor: pointer;
  background-color: #7a408a;
  color: #efd7f5;
  border: none;
  width: 130px;
  min-height: 36px;
  font-weight: 700;
}
